<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MVC with Burgers!!!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://use.typekit.net/nqk6erl.css">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
</head>
<body>
  {{{ body }}}
</body>
</html>