<h1>Burgers!</h1>

<h2>Burgers that have not been devoured!</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> burgers/burger-block devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been devoured!</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> burgers/burger-block devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger!</h2>

<form class="create-form">

<div class="form-group">
  <label for="bg">Burger Name:</label>
  <input type="text" id="bg" name="name">
</div>

<div class="form-group">
  <label for="devo">Devoured?</label><br>
  <input type="radio" id="devo" value="1" checked> Devoured! <br>
  <input type="radio" id="devo" value="0"> Not Devoured
</div>

<button type="submit">Add Burger</button>


</form>

<script type="text/javascript">
$function() {
  $(".change-devoured").on("click", function(event) {
    var id = $(this).data("id");
    var newDevour = $(this).data("newDevour");

    var newDevourState = {
      devour : newDevour
    };

    $.ajax("/api/burgers" + id, {
      type: "PUT",
      data: newDevourState
    }).then(
      function() {
        console.log("changed devour to", newDevour);
        location.reload();
      }
    );
  });
  $("create-form").on("submit", function(event){
    event.preventDefault();

    var newBurger = {
      burger_name: $("#bg").val().trim()
    };

    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new Burger");

        location.reload();
      }
    );
  });
};

</script>