<li class="list-group-item">
    {{burger_name}}

    <button type="button" class="change-devoured" id="buttons" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Eat It!{{else}}Devoured!{{/if}}
    </button>

</li>